.trade-icon {
    font-size: 3rem;
    cursor: pointer;
}

#exchangeboard-header {
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin-top: 120px;
    margin-bottom: 40px;
}

#exchangeBoard {
    position: absolute;
    top: 55%;
    right: 0;
    left: 0;
    width: 80%;
    max-width: 1152px;
    height: 400px;
    flex: 1;
    margin-top: 50px;
    padding: 0;
}

.card-header{
    padding: 20px 0px 0px 0px;
    background-color: rgb(240, 245, 250);
    border-bottom-style: none;
    color: rgb(10, 20, 110);

}

thead tr td {
    color: rgb(10, 20, 110);
    width: 80px;
    padding-bottom: 5px;
    background-color: rgb(240, 245, 250);
    margin-bottom: 10px;
}

tbody tr td {
    padding: 10px 0px 10px 0px;
}


#cny-icon{
    color: red;
    background-color: gold;
}

#usd-icon{
    color: gold;
    background-color: yellow;
}

#eur-icon{
    color: gold;
    background-color: rgb(66, 66, 231);
}


/* Mobile view */
@media screen and (max-width: 850px) {
    #exchangeboard-header {
        color: white;
        text-align: center;
        position: absolute;
        top: 71%;
        right: 0;
        left: 0;
        height: 100px;
        margin: auto
    }


    #exchangeBoard {
        position: absolute;
        top: 56%;
        right: 0;
        left: 0;
        width: 80%;
        max-width: 1152px;
        height: 100px;
        flex: 1;
    }
    #card-group {
        margin-top: 150px;
    }

    tbody tr td {
        padding: 7px 0px 7px 0px;
    }
}
