footer{
    position: absolute;
    right: 0;
    left: 0;
    width: 80%;
    top: 90%;
    max-width: 1152px;
    height: 100px;
    display: flex;
    margin: 250px auto;
    justify-content: center;
}

.social-icon{
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin: 0 0 0 8px;
}

.greeting{
    color: white;
}

/* Mobile view */
@media screen and (max-width: 850px) {
    footer{
        position: absolute;
        right: 0;
        left: 0;
        width: 80%;
        top: 180%;
        max-width: 1152px;
        height: 100px;
        display: flex;
        margin: 260px auto;
        justify-content: center;
    }

    .social-icon{
        font-size: 2rem;
        cursor: pointer;
        color: white;
        justify-content: center;
    }
}
