
/* set where the position converter container is */
.Converter {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    width: 80%;
    max-width: 1152px;
    height: 100px;
    display: table;
    margin: 0 auto;
  }

/* converter container styling */
.Converter {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 40px;
}

#converter-header {
    color: white;
    text-align: center;
    position: absolute;
    top: 17%;
    right: 0;
    left: 0;
}

.wrapper-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding-bottom: 5px;

  }

.wrapper-inside {
    display: grid;
    grid-template-columns: repeat(2);
}

/* align submit button to the left*/
.btn-primary{
    text-align: right;
}

#result {
    font-family: Arial Black;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

#exchange-rate {
    font-size: 15px;
    text-align: center;
}

.world-icon {
    font-size: 3rem;
    cursor: pointer;
}


.swap-icon {
    font-size: 2.5rem;
    cursor: pointer;
}

.icon-wrapper {
    justify-content: center;
}


.dropdown-menu {
    background-color: white;
    width: 100%;
    text-align: left;
    height: 250px;
    overflow: scroll;
}

.dropdown-button{
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
}

.dropdown-button:hover{
    background-color: transparent;
    color: black;
}

/* Mobile view */
@media screen and (max-width: 850px) {
    .Converter {
        position: absolute;
        top: 18%;
        right: 0;
        left: 0;
        width: 80%;
        display: table;
        height: 200px;
        z-index: 2000;
      }

    /* converter container styling */
    .Converter {
        background-color: whitesmoke;
        width: 80%;
        border-radius: 15px;
        padding: 15px 0px 15px 0px;

    }

    #converter-header {
        color: white;
        text-align: center;
        position: absolute;
        top: 9%;
        right: 0;
        left: 0;
    }

    .wrapper-row {
        flex-direction: column;
        justify-content: center;
        display: flex;
        gap: 5px;
        padding: 10px;

      }

    .wrapper-inside {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .btn-primary{
        text-align: right;
        margin-right: 10px;
    }

    #result {
        font-family: Arial Black;
        font-size: 15px;
        text-align: center;
    }

    #exchange-rate {
        font-size: 13px;
        text-align: center;
    }
    .icon {
        font-size: 3rem;
        cursor: pointer;
        margin-top: 10px;
    }
}
